@import '_setting.scss';

.shopping-cart-container {

    @include container;
    display: flex;

    .left-shopping-cart-container {
        flex-basis: calc(2/3*100%);
        padding: 0 15px;
        max-width: calc(2/3*100%);
        margin-bottom: 30px;

        .bottom-left-shopping-cart-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            a, span {
                padding: 15px 30px;
                text-transform: uppercase;
                font-family: mainFont;
                text-decoration: none;
                font-size: 0.9rem;
                letter-spacing: 2px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            a {
                border: 1px solid $darken10Main3Color;
                color: $main2Color;
            }

            span {
                background-color: $main2Color;
                color: $main3Color;
            }
        }
    }

    .right-shopping-cart-container {
        flex-basis: calc(1/3*100%);
        padding: 0 15px;
        max-width: calc(1/3*100%);

        h5 {
            margin-top: 2px;
            text-transform: uppercase;
            font-family: mainFont;
            font-size: 1rem;
            margin-bottom: 24px;
        }

        .coupon-code-container {
            width: 100%;

            input {
                height: 50px;
                width: calc(2/3*100%);
                border: 1px solid $darken10Main3Color;
                border-right: 0;
                outline: none;
                padding-left: 20px;
                font-family: mainFont;
                color: $main2Color;

                &::placeholder {
                    font-family: mainFont;
                    color: $main2Color;
                }
            }

            button {
                width: calc(1/3*100%);
                height: 50px;
                background-color: $main2Color;
                border: none;
                font-family: mainFont;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                color: $main3Color;
                cursor: pointer;
            }
        }

        .cart-total-container {
            margin-top: 40px;
            margin-bottom: 80px;
            padding: 35px 40px 40px;
            background-color: lighten($mainColor, $amount: 38);
            font-family: mainFont;

            h6 {
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 1rem;
                text-transform: uppercase;
            }

            button {
                width: 100%;
                padding: 12px 10px;
                background-color: $main2Color;
                border: none;
                outline: none;
                color: $main3Color;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;
                cursor: pointer;
                margin-top: 20px;
            }
        }

    }
}

@media screen and (max-width: 992px) {
    .shopping-cart-container {
        max-width: 720px;
        min-width: 580px;
        flex-direction: column;

        .left-shopping-cart-container, .right-shopping-cart-container {
            width: 100%;
            flex-basis: unset;
            max-width: unset;
        }

    }
}

@media screen and (max-width: 768px) {
    .shopping-cart-container {
        max-width: unset;
        min-width: unset;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .shopping-cart-container {
        padding: 0;

        .left-shopping-cart-container {
            .bottom-left-shopping-cart-container {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}