@import '_setting.scss';

.filter-and-sort-container {
    @include container;
    display: flex;
    justify-content: space-between;

    .dropdown-list {
        position: absolute;
        border: 1px solid $darken20Main3Color;
        width: 100%;
        left: -1px;
        top: 40px;
        margin: 0;
        z-index: 1;
        list-style-type: none;
        background-color: $main3Color;
        box-shadow: 1px 1px 4px $darken20Main3Color;
        padding: 0;

        li {
            padding: 10px 20px;
            font-size: 0.9rem;
            &:hover {
                background-color: $darken10Main3Color;
            }
        }
    }
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 960px;
    max-width: 1250px;
    margin: auto;
    padding: 50px 40px 10px 40px;
}

@media screen and (max-width: 992px) {
    .filter-and-sort-container {
        max-width: 720px;
        min-width: 540px;
    }
    .products-container {
        max-width: 720px;
        min-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .filter-and-sort-container {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {

    .filter-and-sort-container {
        max-width: unset;
        min-width: unset;
        padding: 0;
    }

    .products-container {
        width: 100%;
        min-width: unset;
        padding: 0;
    }
}