@import '_setting.scss';

.introduce-video-container {
    width: 100%;
    @include centerBox();
    background-color: $main4Color;
    padding: 20px 15px;

    .image-video-container {
        max-width: 945px;
        position: relative;

        img {
            width: 100%;
        }

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            outline: none;
            border: none;
            background-color: $mainColor;
            @include centerBox();
            cursor: pointer;

            svg {
                font-size: 3rem;
                margin-left: 7px;
                color: $main3Color;
            }
        }
    }
}