@import '_setting.scss';

.title-page-container {
    @include container;
    @include centerBox('align');
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: space-between;

    h1 {
        font-size: 3.5rem;
        font-style: italic;
        padding-left: 15px;
        padding-right: 15px;
    }

    .right-title-page {
        @include centerBox('align');
        font-family: mainFont;
        font-size: 1rem;
        padding-right: 15px;
        padding-left: 15px;

        hr {
            width: 18px;
            height: 1px;
            border: none;
            background-color: $main2Color;
            transform: rotate(90deg);
            margin: 0 10px;
        }

        a {
            text-decoration: none;
            color: $main2Color;
        }

        span { opacity: 0.7;}
    }
}

@media screen and (max-width: 992px) {
    .title-page-container {
        max-width: 720px;
        min-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .title-page-container {
        max-width: unset;
        min-width: unset;
        padding: 20px;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {
    .title-page-container {
        h1 { font-size: 3rem;}
    }
}