@import '_setting.scss';

.title-page-container {
    max-width: 1250px;
    min-width: 960px;
    padding: 20px 40px 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    h1 {
        font-size: 3.5rem;
        font-style: italic;
        padding-left: 15px;
        padding-right: 15px;
    }

    .right-title-page {
        display: flex;
        width: 160px;
        font-family: mainFont;
        align-items: center;
        font-size: 1rem;
        padding-right: 15px;
        padding-left: 15px;

        hr {
            width: 18px;
            height: 1px;
            border: none;
            background-color: $main-2-color;
            transform: rotate(90deg);
        }

        a {
            text-decoration: none;
            color: $main-2-color;
        }

        span { opacity: 0.7;}
    }
}

@media screen and (max-width: 992px) {
    .title-page-container {
        max-width: 720px;
        min-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .title-page-container {
        max-width: 480px;
        min-width: 320px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 587px) {
    .title-page-container {
        max-width: unset;
        min-width: unset;
        padding: 20px;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {
    .title-page-container {
        h1 { font-size: 3rem;}
    }
}