//Color
$main-color: #f08632;
$main-2-color:#282828;
$main-3-color: #fff;
$main-4-color: #FDF3EA;

//Font
@font-face {
    font-family: mainFont;
    src: local('MyFont'), url('./resouces/fonts/MONTSERRAT_REGULAR.ttf') format('truetype');
}

//Animation
@keyframes skeleton-loading {
    0% { background-color: rgba($main-2-color, $alpha: 0.3);}
    100% { background-color: rgba($main-2-color, $alpha: 0.1);}
}