@import '_setting.scss';

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar { width: 8px; }
  &::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: $darken20Main3Color;
    border-radius: 4px;
  }
}

html {
  scroll-behavior: smooth;
}

.main-layout {
  padding-top: 62px;
}

@media screen and (max-width: 768px) {
  .main-layout { padding-top: 100px; }
}