@import '_setting.scss';

.checkout {
    &-container {
        @include container;
        padding-bottom: 100px;
        display: flex;
    }

    &-left-container {
        max-width: calc(2/3*100%);
        flex-basis: calc(2/3*100%);
        padding: 0 15px;
        font-family: mainFont;

        h4 {
            margin-top: 50px;
            margin-bottom: 30px;
        }

        hr {
            margin-top: 0;
            height: 1.5px;
            background-color: $main2Color;
            border: 0;
        }

        &-form {
            padding-top: 40px;
            border-top: 1px solid $darken10Main3Color;

            &-group {
                display: flex;
                flex-direction: column;
            }

            &-message {
                color: red;
                font-size: 0.8rem;
            }

            input {
                width: 100%;
                height: 45px;
                padding-left: 20px;
                border: 1px solid $darken10Main3Color;
                outline: none;

                &::placeholder {
                    font-family: mainFont;
                }
            }

            &-input {
                display: flex;
                padding-top: 20px;
                padding-bottom: 20px;
                justify-content: space-between;

                .checkout-left-container-form-group {
                    width: calc(50% - 40px);
                }
    
                input {
                    width: 100%;
                }
            }

            &-address {
                display: flex;
                margin-top: 20px;
                justify-content: space-between;
                height: 45px;
                
                select {
                    border: 1px solid $darken10Main3Color;
                    padding: 0 5px;
                    font-family: mainFont;
                }
            }
        }

    }
    
    &-right-container {
        max-width: calc(1/3*100%);
        flex-basis: calc(1/3*100%);
        background-color: $main4Color;
        padding: 15px;
        font-family: mainFont;

        hr {
            height: 1px;
            background-color: $darken20Main3Color;
            margin: 20px 0;
            border: 0;
        }

        table {

            thead {
                tr th {
                    border: 0;
                    padding: 0;;
                    text-transform: none;
                    padding-bottom: 10px;

                    &:first-child { width: 70%; }

                    &:last-child { width: 30%; }
                }
            }
            tbody tr td { border: 0; padding: 10px 0; }
        }

        button {
            width: 100%;
            height: 45px;
            @include centerBox();
            background-color: $main2Color;
            outline: none;
            border: 0;
            cursor: pointer;
            color: $main3Color;
            font-weight: bold;

            &:last-child {
                background-color: $mainColor;
                margin-top: 20px;
                color: $main3Color
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .checkout {
        &-container {
            max-width: 720px;
            min-width: 540px;
        }
        &-left-container, &-right-container {
            max-width: 50%;
            flex-basis: 50%;

            &-form {
                &-input {
                    padding-top: 0;
                    flex-direction: column;
                    .checkout-left-container-form-group { width: 100%; }
                    input { margin-top: 20px;}
                }

                &-address {
                    flex-direction: column;
                    height: 175px;
                    select { padding: 13px 5px; }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .checkout {
        &-container {
            max-width: none;
            min-width: unset;
            width: 100%;
            flex-direction: column;
        }
        &-left-container, &-right-container {
            max-width: none;
            flex-basis: none;
            width: 100%;
            &-form {padding-bottom: 40px;}
        }
        &-right-container {
            table {
                thead tr th:last-child { text-align: end; }
                tbody tr td:last-child { text-align: end; }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .checkout-container { padding: 0 0 100px 0;}
    .checkout-right-container { width: calc(100% - 30px); margin: auto;}
}