@import '_setting.scss';

.message-container {
    position: fixed;
    z-index: 1;
    bottom: 15px;
    right: 10px;
    padding: 5px 20px 5px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba($main-2-color, $alpha: 0.4);
    background-color: $main-3-color;
    color: $main-color;
    border: 2px solid $main-color;
    font-family: mainFont;
    animation: slideRightToLeft 0.2s ease-in-out;
    display: flex;
    align-items: center;

    svg {
        margin-right: 10px;
        font-size: 25px;
        color: rgb(25, 161, 25);

        &.error-icon {
            color: red;
        }
    }
}

.success-message {
    border: 2px solid rgb(25, 161, 25);
    color: rgb(25, 161, 25);
}

@keyframes slideRightToLeft {
    from { transform: translateX(calc(100% + 10px)); }
    to { transform: translateX(0);}
}

@keyframes slideLeftToRight {
    from { transform: translateX(0); }
    to { transform: translateX(calc(100% + 10px));}
}