@import '_setting.scss';

.social-sign-in-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba($main-2-color, $alpha: 0.2);
    cursor: pointer;

    svg {
        font-size: 1.2rem;
    }
}
